__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env
db.sqlite3
staticfiles/
media/
*.log
.DS_Store
.git/
.gitignore
.flake8
*.md
nginx/
docker-compose*.yml
Dockerfile
.dockerignore
.github/
