# Django / Python
SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
CSRF_TRUSTED_ORIGINS=https://yourdomain.com

# PostgreSQL
DATABASE_NAME=meditrack
DATABASE_USER=meditrack
DATABASE_PASSWORD=change-me-strong-password
DATABASE_HOST=db
DATABASE_PORT=5432
